.react-tabs__tab {
  border: 1px solid #ffffff99;
  border-radius: 5px;
  padding: 16px 20px;
  cursor: pointer;
  color: #ffffff99;
  font-size: 18px;
}

.react-tabs__tab--selected {
  background-color: #ff8d28;
  color: #32251f;
  border-color: #ff8d28;
}
.react-tabs__tab--selected:focus {
  outline: none !important;
}
